@charset "UTF-8";

/*  Paleta de Cores

    Verde: #49a09d
    Lilás: #5f2c82

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* faz a borda contar também no momento da medição */
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    /* alinhar no centro da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    /* alinhar no centro da tela */

    overflow: hidden;
    /* tudo o que estiver fora da bordar ficará escondido */

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
    transition: height 0.3s, width 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/padrao.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

section#login > div#formulario > h1 {
        text-align: center;   
        margin-bottom: 10px;
        font-size: 1.5em;
        color: #5f2c82;
    }

section#login > div#formulario > p {
        font-size: 0.8em;
        margin-bottom: 15px;
    }

form > div.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 39px;
    padding: 4px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;    
    padding: 5px;
    transform: translateY(-12px);
    
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #49a09d;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

form > input[type=submit]:hover {
    background-color: #234d4b;
}

form > a.btn {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: #234d4b;
}

form > a.btn:hover {
    background-color: #234d4b;
    color: white;
}

form > a.btn > span {
    font-size: 1.1em;
    transform: translateY(4px);
}